<html>
    <body>
        <!-- todo(whillegass): add death check boxes that can be checked here and make it
        interactive such that user is dead when all are checked.
        Carry over weapon and gear, (allow weapon to be mapped to new kobold)-->

        <table border="1" style="width:100%">
            <tr>
                <th colspan="2">Kobold Name:</th>
                <th colspan="2">{{ .Name}}</th>
            </tr>
            <tr>
                <td><b>Brawn:</b></td>
                <td>{{.Brawn}}</td>
                <td><b>Meat:</b></td>
                <td>{{.Meat}}</td>
            </tr>
            <tr>
                <td><b>Ego:</b></td>
                <td>{{.Ego}}</td>
                <td><b>Cunning:</b></td>
                <td>{{.Cunning}}</td>
            </tr>
            <tr>
                <td><b>Extraneous:</b></td>
                <td>{{.Extraneous}}</td>
                <td><b>Luck:</b></td>
                <td>{{.Luck}}</td>
            </tr>
            <tr>
                <td><b>Reflexes:</b></td>
                <td>{{.Reflexes}}</td>
                <td><b>Agility:</b></td>
                <td>{{.Agility}}</td>
            </tr>
            <tr>
                <td>Skills:</td>
                <td>{{.Skills}}</td>
            </tr>
            <tr>
                <td>Edges:</td>
                <td>{{.Edges}}</td>
            </tr>
            <tr>
                <td>Bogies:</td>
                <td>{{.Bogies}}</td>
            </tr>
            <tr>
                <td>Armor:</td>
                <td>{{.Armor}}</td>
            </tr>
            <tr>
                <td>Left Paw:</td>
                <td>{{.Gear}}</td>
            </tr>
            <tr>
                <td>Right Paw:</td>
                <td>{{.Weapon}}</td>
            </tr>
            <tr>
              <td>Hits:</td>
              <td>{{.Hits}}</td>

        </table>
    </body>
</html>
