<html>
    <body>
        <table border="1" style="width:100%">
            <tr>
                <th>Kobold Name:</th>
                <th>{{.Name}}</th>
            </tr>
            <tr>
                <td>Brawn:</td>
                <td>{{.Brawn}}</td>
            </tr>
            <tr>
                <td>Ego:</td>
                <td>{{.Ego}}</td>
            </tr>
            <tr>
                <td>Extraneous:</td>
                <td>{{.Extraneous}}</td>
            </tr>
            <tr>
                <td>Reflexes:</td>
                <td>{{.Reflexes}}</td>
            </tr>
            <tr>
                <td>Skills:</td>
                <td>{{.Skill}}</td>
            </tr>
            <tr>
                <td>Edges:</td>
                <td>{{.Edges}}</td>
            </tr>
            <tr>
                <td>Bogies:</td>
                <td>{{.Bogies}}</td>
            </tr>
            <tr>
                <td>Armor:</td>
                <td>{{.Armor}}</td>
            </tr>
            <tr>
                <td>Gear:</td>
                <td>{{.Gear}}</td>
            </tr>
            <tr>
                <td>Weapon:</td>
                <td>{{.Weapon}}</td>
            </tr>
        </table>
    </body>
</html>
